.content-wrapper{
   margin-bottom: 56px; 
   position: relative;
   .location-search{
       position: absolute;
       top: 0;
       z-index: 100;
       display: flex;
       justify-content: space-between;
       left: 0.3rem;
       right: 0.3rem;
       color: #ffffff;
       font-size: 16px;
       span{
           display: inline-block;
           margin: 0.3rem 0;
           .icon-search{
               font-size: 18px;
               font-weight:600;
               color: #fff;
           }
       }
   }
   .search-form{
       font-size: 14px;
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
        line-height: 0.8rem;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        .search{
            border-radius: 20px;
            background-color: #f9f9f9;
            height: 0.8rem;
            line-height: 0.8rem;            
            width: 80%;
            padding:0 0.2rem;
            text-align: left;
            .control{
                background-color: transparent;
                width: 80%;
            }
        }
   }
}
.search-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}
.advert{
    padding: 0.2rem 0.3rem;
   img{
       width: 100%;
   }
}
.menu-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding: 7px 0;
    .menu-list{
        display: flex;
        justify-content:space-around;
        .menu-item{
            font-size: 12px;
            a{
                display: block;
                .icon{
                font-size: 20px;
                }
                .menu-name{
                    margin-top: 7px;
                }
            
            }
        }
        
    }
}
.hot-movie{
    padding-top:1px ;
    .title{
        margin: 0.3rem 0.3rem 0.2rem;
        display: flex;
        //justify-content 用于设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。
        //flex-start  默认值。项目位于容器的开头。 
        //flex-end    项目位于容器的结尾。 
        //center  项目位于容器的中心。
        //space-between   项目位于各行之间留有空白的容器内。  
        //space-around    项目位于各行之前、之间、之后都留有空白的容器内。  
        //initial 设置该属性为它的默认值。
        //inherit 从父元素继承该属性。
        justify-content:space-between;
        .classify-name{
            font-size: 18px;
        }
        .classify-num{
            font-size: 14px;
            order: 3;
        }
    }
    .movie-article{
        .article-item{
            display: flex;
            margin: 0.5rem 0.3rem;
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;
            .article-title{
                position: relative;
                width: 60%;
                .name{
                    font-size: 16px;
                    line-height: 1.5;
                    display: -webkit-box!important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp:3; /*控制多行文本的行数*/
                }
                .other{
                    position: absolute;
                    bottom: 0.1rem;
                    left: 0;
                    font-size: 12px;
                    color: #999;
                    display: flex;
                    justify-content: flex-start;
                    span{
                        display: inline-block;
                    }
                    .read-num{
                        width: 90px;        
                    }
                }
                text-align: left;
                margin-right: 0.5rem;
                
            }
            .artice-pic{
                width: 40%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.hot-article{
    .title{
        justify-content:flex-start
    }
    .recommend{
        margin: 0.5rem 0.3rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5rem;
        text-align:left;
        .rec-pic{
            width: 100%;
        }
        .rec-title{
            font-size: 16px;
            margin: 0.2rem 0;
        }
        .other{
                    font-size: 14px;
                    color: #999;
                    display: flex;
                    justify-content: flex-start;
                    span{
                        display: inline-block;
                    }
                    .read-num{
                        width: 90px;        
                    }
                }
    }
}
.movie-list{
    position: relative;
    margin-left: 0.3rem;
    width: 1150px;
    .list-item{
        display: inline-block;
        float: left;
        width: 150px;
        margin: 0.2rem 0.15rem;
        .video{
            position: relative;
            img{
                width: 100%;
            }
            .video-intro{
                position: absolute;
                left: 0;
                bottom: 0.2rem;
                color: #fff;
                font-size: 12px;
            }
        }
        &:first-child{
            margin-left: 0;
        }
        .item-box{
            position: relative;
            .pic{
               width: 100%;
               height: 100%; 
            }
            .tigs,.score{
                position: absolute;
                left: 0.1rem;
            }
            .tigs{
                top: 0.2rem;
                display: inline-block;
                border-radius: 3px;
                background: rgba(255,255,255,0.9);
                color: #333;
                font-size: 12px;
                padding: 0.1rem;
            }
            .score{
                bottom: 0.2rem;
                font-size: 14px;
                color: #fea54c;
            }
            
        }
        .movie-name{
            color: #2C3E50;
            font-size: 16px;
            margin: 0.2rem 0;
        }
        .movie-name,.begin-time,.btn-box{
            text-align: left;
        }
        .begin-time{
            font-size: 14px;
            color: #999;
        }
    }
}
.buy-movie{
                color: #ffffff;
                font-size: 12px;
                border-radius: 16px;
                display: inline-block;
                padding: 0.25rem 0.35rem;
                background: -webkit-linear-gradient(left, #ff79a2, #ef576e); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(left, #ff79a2, #ef576e); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(left, #ff79a2, #ef576e); /* Firefox 3.6 - 15 */
                background: linear-gradient(left, #ff79a2, #ef576e); /* 标准的语法（必须放在最后） */
            }
            .buy-movie:active{
                background: -webkit-linear-gradient(left, #ef576e, #ff79a2); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(left, #ef576e, #ff79a2); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(left, #ef576e, #ff79a2); /* Firefox 3.6 - 15 */
                background: linear-gradient(left, #ef576e, #ff79a2); /* 标准的语法（必须放在最后） */
            }
            .pre-sale{
                background: -webkit-linear-gradient(left, #6dc1fd, #0196ff); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(left, #6dc1fd, #0196ff); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(left, #6dc1fd, #0196ff); /* Firefox 3.6 - 15 */
                background: linear-gradient(left, #6dc1fd, #0196ff); /* 标准的语法（必须放在最后） */
            }
            .pre-sale:active{
                background: -webkit-linear-gradient(left, #0196ff, #6dc1fd); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(left, #0196ff, #6dc1fd); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(left, #0196ff, #6dc1fd); /* Firefox 3.6 - 15 */
                background: linear-gradient(left, #0196ff, #6dc1fd); /* 标准的语法（必须放在最后） */
            }
.hr{
    height: 1px;
    margin: 0.3rem 0.3rem 0.4rem;
    background-color: #eee;
}
.router-link-active{
    color: #ff79a2; 
}
.movie-wrapper{
    .vux-tab-wrap{
        position: fixed;
        padding-top: 44px;
        top: 1.25rem;
        left: 0;
        right: 0;
        z-index: 100;
   }
   .movie-header{
       position: fixed;
       z-index: 100;
       top: 0;
       left: 0;
       right: 0;
       background-color: #fff;
   }
   .film-content-wrapper,.cinema-wrapper{
       margin-top: 2.7rem;
   }
// padding-bottom: 56px;
   .vux-tab .vux-tab-item.vux-tab-selected{
       color: #ef576e;
       border-bottom:3px solid #ef576e;
   }
   .vux-tab-bar-inner{
       background-color: #ef576e;
   }
   .location-search{
       display: flex;
       justify-content: space-between;
       align-items: center;
       color: #333;
       font-size: 16px;
       margin:0 0.3rem;
       span{
           display: inline-block;
           margin: 0.3rem 0;
           .icon-search{
               font-size: 18px;
               font-weight:600;
               color: #666;
           }
       }
       .module-name{
           width: 150px;
           .vux-button-group > a{
               height: 30px;
               line-height: 30px;
           }
           .vux-button-group > a.vux-button-tab-item-first:after,
           .vux-button-group > a.vux-button-tab-item-last:after{
               border:1px solid #ef576e;
           }   
           .vux-button-group > a.vux-button-tab-item-first,
           .vux-button-group > a.vux-button-tab-item-last{
              color: #ef576e; 
           }
           .vux-button-group > a.vux-button-group-current{
               background-color: #ef576e;
               color: #fff;
               border: none;
           } 
       }
   }
   .box-office{
       background-color: #eee;
       border-radius: 4px;
       margin: 0.35rem 0.3rem 0;
       padding: 0.3rem;
       display: flex;
       justify-content: space-between;
       font-size: 14px;
       .current{
           color: #666;
       }
       .today{
               .font{
                   color: #999;
               }
               .money{
                   color: #ff79a2;
               }
           }
   }
}
.movie-list-wrapper{
    .movie-item{
        border-bottom: 1px solid #eee;
        margin: 0 0.3rem;
        padding-top: 0.3rem;
        display: flex;
        justify-content: space-between;
        text-align: left;
        .movie-pic{
            width: 23%;
            img{
                width: 100%;
                border-radius: 3px;
            }
        }
        .movie-message{
            position: relative;
            margin-left: 0.3rem;
            width: 77%;
            p{
                line-height: 0.7rem;
                height: 0.7rem;
                font-size: 14px;
                text-overflow:ellipsis; 
                overflow:hidden; 
                white-space:nowrap;
                color: #999;
            }
            .score{
                color: #333;
                line-height: 0.75rem;
                height: 0.75rem;
                mark{
                    font-weight: bold;
                }
            }
            .hot{
                border-radius: 3px;
                border: 1px solid #1ca7dc;
                padding: 3px;
            }
            .today{
                color: #e05c98;
                border-color: #e05c98;
            }
            .week{
                color: #ea8b11;
                border-color: #ea8b11;
                margin-left: 0.1rem;
            }
            
            mark{
                background-color: transparent;
                color: #ea8b11;
            }
            .movie-info{
                display: flex;
                justify-content: flex-start;
                align-items:center; //元素垂直居中
                margin-bottom: 0.15rem;
                margin-top: 0.1rem;
               .movie-name{
                   font-size: 24px;
                   font-weight: bold;
                   margin-right: 0.2rem;
               }
               .transform{
                   border: 1px solid #eee;
                   border-radius: 3px 0 0 3px;
                   background-color: #B3B3B3;
                   color: #fff;
                   padding: 2px;
                   font-size: 12px;
                   padding: 3px;
                   border-right: none;
                   
               }
               .max{
                   border-radius: 0 3px 3px 0;
                   border: 1px solid #eee;
                   color: #666;
                   padding: 2px;
                   font-size: 12px;
                   padding: 3px;
                   border-left: none;
                   color: #888;
               }
               .point{
                   border-color: #1ca7dc;
                   margin-left: 6px;
                   color: #1ca7dc;
               }
            }
            .tags{
                height: 0.8rem;
                line-height: 0.8rem;
            }
            .other{
                border-top: 1px solid #eee;
                margin-top: 0.2rem;
                padding: 0.2rem 0;
                mark{
                    border-right: 1px solid #ccc;
                    margin-right: 0.2rem;
                    padding-right: 0.2rem;
                }
            }
            .btn-box{
                position: absolute;
                right: 0rem;
                top: 1rem;
            }
        }
    }
}
.new-film-list{
    .time-box{
        text-align: left;
        margin: 0.5rem 0.3rem 0.3rem;
        .week{
            color: #999;
            font-size: 12px;
            margin-bottom: 0.3rem;
        }
        .date{
            font-size: 22px;
            color: #333;
        }
        
        
    }
    .movie-item{
            .movie-pic{
            margin-bottom: 0.3rem;
        }
        }
}


.filter-wrapper{
    position: fixed;
    top: 1.25rem;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    .filter-list{
        display: flex;
        justify-content: space-around;
        padding: 0.5rem 0;
        .filter-item{
            border-left: 1px solid #ddd;
            color: #666;
            font-size: 14px;
            text-align: center;
            width: 25%;
            .icon-up{
                font-size: 14px;
            }
            &:first-child{
                border-left: none;
            }
        }
    }
}
.cinema-list{
    .cinema-item{
        margin: 0.3rem 0 0 0.3rem;
        text-align: left;
        font-size: 14px;
        padding-right: 0.3rem;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid #eee;
        .item-name{
            padding: 0.2rem 0;
            display: flex;
            justify-content: space-between;
            .name{
                font-size: 18px;
                width: 60%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .icon-card{
                display: inline-block;
                padding: 0.1rem 0.15rem;
                background-color: #5dc57c;
                font-size: 12px;
                color: #fff;
                border-radius: 3px;
                margin-right: 0.1rem;
            }
            .price{
                mark{
                   font-size: 20px;
                   color: #ef576e; 
                   background-color: transparent;
                }
                b{
                  color: #ef576e;   
                }
                font-size:12px;
                color: #999;                
            }
        }
        .address{
            font-size: 14px;
            color: #666;
            display: flex;
            justify-content: space-between;
            .distance{
                color: #999;
            }
            
        }
        .tigs{
            margin: 0.25rem 0;
            span{
                display: inline-block;
                border:1px solid #1ca7dc;
                border-radius: 3px;
                font-size: 12px;
                color: #1ca7dc;
                padding: 0.1rem 0.15rem;
                margin-right: 0.2rem;
            }
        }
        .info{
            line-height: 0.7rem;
            height: 0.7rem;
            color: #999;
            .promotion,.other{
                padding: 0.1rem;
                color: #fff;
                font-size: 12px;
                margin-right: 0.1rem;
                border-radius: 3px;
            }
            .promotion{
                background-color: #5dc57c;
            }
            .other{
                background-color: #ffbb29;
            }
        }
    }
}
.filter {
    .weui-mask{
        top: 2.79rem;
    }
    .weui-dialog{
        width: 100%;
        height: auto;
        max-width: none;
        bottom: auto;
        top: -1px;
        border-radius: 0;
    }
    .filter-content{
        border-top: 1px solid #eee;
        .feture-font{
            text-align: left;
            margin: 0.4rem 0 0 0.42rem;
            font-size: 14px;
            color: #999;
        }
        .area-list{
            width: 100%;
            padding: 0.3rem;
            display: flex;
            justify-content:flex-start;//定义了项目在主轴上的对齐方式  两端对齐，项目之间的间隔都相等
            flex-wrap:wrap; // nowrap | wrap | wrap-reverse; 不换行/换行/换行第一行在下方
            .area-item{
                border-radius: 3px;
                border:1px solid #ddd;
                color: #333;
                font-size: 14px;
                width: 2rem;
                height: 0.7rem;
                line-height: 0.7rem;
                margin:0.15rem;
            }
            .active{
                color: #ef576e;
                border-color: #ef576e;
            }
        }
        .nolimit{
            border-bottom: 1px solid #efefef;
            margin-left: 0.4rem;
            padding: 0.3rem 0;
            .area-item{
                margin: 0.15rem 0;
            }
        }
        .brand-list{
            padding: 0;
            height: 5rem;
            overflow: auto;
            .brand-item{
                border-bottom: 1px solid #ddd;
                height: 1.2rem;
                line-height: 1.2rem;
                display: flex;
                justify-content: space-between;
                padding: 0 0.4rem 0 0.25rem;
                font-size: 14px;
                .icon{
                    color: #fff;
                }
            }
            .active{
                color: #ef576e;
                .icon{
                    color: #ef576e;
                }
            }
        }
    }
}
.video-wrapper,.show-wrapper,.movie-wrapper,.user-wrapper{
    position: relative;
    margin-bottom: 56px; 
}

    .scroll-search{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 99; 
    }
    .loaction-search{
       
        font-size: 14px;
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
        line-height: 0.8rem;
        .search{
            border-radius: 6px;
            background-color: #f9f9f9;
            height: 0.8rem;
            line-height: 0.8rem;            
            width: 80%;
            padding:0 0.2rem;
            text-align: left;
            .control{
                background-color: transparent;
                width: 80%;
            }
        }
    }
.show-wrapper{
    .show-header{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 10; 
       height: 2.6rem;
       background-color: #fff;
    }
    .show-title{
        font-size: 16px;
        line-height: 1.4rem;
        height: 1.4rem;
        border-bottom: 1px solid #ddd;
    }
    .show-content{
        margin-top: 2.6rem;
        .recommend{
            margin-top: 3.8rem;
        }
    }
    .swiper-box{
        position: fixed;
        top: 2.5rem;
        left: 0;
        right: 0;
        z-index: 10;
        margin-bottom: 3px;
    }
    .vux-tab{
        .vux-tab-item{
            background: transparent;
            color: #7e7e7e;
        }
        .vux-tab-item.vux-tab-selected{
           color: #ff79a2;
        }
    }
    .vux-tab-bar-inner{
        background-color: #ff79a2;
    }
    .must-see{
        text-align: left;
        .box-title{
            font-size: 16px;
            font-weight: bold;
            padding:0.7rem 0.3rem 0.4rem;
        }
        .menu-list{
            display: flex;
            justify-content: space-between;
            flex-wrap:wrap;//换行
            
            .must-item{
                width: 32%;
                margin-bottom: 0.4rem;
                .item-pic{
                    position: relative;
                    img{
                        width: 100%;
                        background-size: cover;
                    }
                    .num{
                        position: absolute;
                        left: 0.5rem;
                        bottom: -0.05rem;
                        display: inline-block;
                        background-color: #ff79a2;
                        color: #fff;
                        font-size: 24px;
                        font-weight: bold;
                        width:0.65rem;
                        height: 0.5rem;
                        line-height: 0.8rem;
                        text-align: right;
                        padding-right: 0.1rem;
                    }
                }
                .item-name{
                    font-size: 14px;
                    color: #333;
                    line-height: 1.3;
                    margin: 0.2rem 0;
                    padding: 0 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp:2; /*控制多行文本的行数*/
                }
                .item-info{
                    font-size: 12px;
                    color: #999;
                    line-height: 1.3;
                    padding: 0 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp:2; /*控制多行文本的行数*/
                }
            }
            .must-item:nth-child(2),
            .must-item:nth-child(5){
                margin: 0 2%;
            }
            
        }
        
    }
    .hot-recommend{
        text-align: left;
        margin-top: 0.5rem;
        .hot-header{
            display: flex;
            justify-content: space-between;
            padding:0.7rem 0.3rem 0.4rem;
            .order-filter{
               font-size: 14px;
                color: #999; 
            }
            .box-title{
                font-size: 16px;
                font-weight: bold;
            }
        }
        .concert-header{
            justify-content: flex-end;
            padding:0.3rem 0.3rem 0.4rem;
            span{
                margin-left: 0.7rem;
            }
        }
        .hot-list{
            display: flex;
            justify-content: space-between;
            flex-wrap:wrap;//换行
            .hot-item{
                width: 49%;
                margin-bottom: 0.4rem;
                .item-pic{
                    position: relative;
                    img{
                        width: 100%;
                        background-size: cover;
                    }
                    .num{
                        position: absolute;
                        left: 0.5rem;
                        bottom: -0.05rem;
                        display: inline-block;
                        background-color: #af8550;
                        color: #fff;
                        font-size: 12px;
                        padding: 0.1rem;
                        text-align: center;
                    }
                }
                .item-name{
                    font-size: 14px;
                    color: #333;
                    line-height: 1.3;
                    margin: 0.2rem 0;
                    padding: 0 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp:2; /*控制多行文本的行数*/
                }
                .item-info{
                    font-size: 12px;
                    color: #999;
                    line-height: 1.3;
                    padding: 0 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp:2; /*控制多行文本的行数*/
                }
            }
        }
    }
     .concert-list{
        margin-top: 0rem;
    }
}
.video-menu{
    height: 1.25rem;
    background-color: #d52be2; 
    .vux-tab{
       background-color: #d52be2; 
       border-bottom: none;
       .vux-tab-item{
           background: transparent;
           color: rgba(255,255,255,0.8);
       }
       .vux-tab-item.vux-tab-selected{
           color: #fff;
           border-bottom:3px solid #fff;
       }
       .vux-tab-bar-inner{
           background-color: #fff;
       }
    }
}
.video-list{
    .video-item{
        margin-bottom: 0.6rem;
        .video-name{
            font-size: 18px;
            margin: 0.3rem 0;
            line-height: 1.5;
            padding: 0 0.3rem;
        }
        .video-other{
                padding: 0 0.3rem;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                span{
                    display: inline-block;
                    margin-left: 0.3rem;
                }
        }
    }

}

.user-wrapper{
    background-color: #F5F5F5;
    .user-header{
        background:url(../img/timg.jpg) center bottom no-repeat;
        background-size: cover;
        padding: 0.5rem;
        .set-remind{
            display: flex;
            justify-content: space-between;
            color: #fff;
            .icon{
                font-size: 20px;
            }
        }
        .user-info{
            margin: 0.8rem auto 0.5rem;
            display: flex;
            justify-content: space-between;
            .user-photo{
                width: 2.2rem;
                height: 2.2rem;
                background-color: #fff;
                border-radius: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            .user-msg{
                color: #fff;
                text-align: left;
                width: 70%;
                .user-name{
                    font-size: 18px;
                }
                .attention{
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    margin: 0.33rem 0;
                }
                .rank{
                    background-color: #666;
                    border-radius: 20px;
                    padding: 0.05rem 0 0.15rem;
                    font-size: 12px;
                    color: #eee;
                    width: 80px;
                    text-align: center;
                    i{
                        color: #eee;
                    }
                }
            }
        }
    }
    .user-content{
        background-color: #fff;
        margin-top: 0.2rem;
        .core-classify{
            display: flex;
            justify-content: space-around;
            padding: 0.4rem 0;
            .classify-item{
                width: 25%;
                .classify-ico{
                    .icon{
                        font-size: 24px;
                    }
                    .icon-film{
                        color: #F74F65; 
                    }
                    .icon-youhuiquan{
                        color: #F69E48; 
                    }
                    .icon-jiuzhenqia{
                        color: #3D98E0; 
                    }
                    .icon-show{
                        color: #A181EB; 
                    }
                    
                }
                .classify-name{
                    margin-top: 0.2rem;
                    font-size: 14px;
                    color: #3E3E3C;
                }
            }
        }
    }
    .user-core,.other{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        .member-core{
            font-size: 16px;
            color: #2A2A2A;
        }
        .advertising{
            font-size: 14px;
            color: #888888;
            .icon{
                font-size: 14px;
            }
        }
    }
    .other{
        border-top: 1px solid #eee;
       margin: 0 0.5rem;
       padding: 0.5rem 0;
    }
}
.filter-panel{
    position: fixed;
    top: 1.43rem;
    left: 0;
    right: 0;
    bottom: 54px;
    background-color: #fff;
    z-index: 10;
    display: none;
    dl{
        dt{
            text-align: center;
            color: #666;
        }
        dt,dd{
            line-height: 1.2rem;
            height: 1.2rem;
            font-size: 14px;
            color: #333；
        }
        dd{
            padding: 0 0.5rem;
            display: flex;
            justify-content: space-between;
            .icon{
                display: none;
            }
        }
        .actived{
            color: #d8d427;
            .icon{
                display: block;
            }
            
        }
    }
}
@media screen and (max-width: 320px) {
    .movie-list-wrapper .movie-item .movie-message .movie-info .movie-name {
        font-size: 18px;
    }
    .filter {
        .weui-mask,.weui-dialog{
            top: 2.76rem;
        }
    }
    .movie-wrapper .film-content-wrapper, .movie-wrapper .cinema-wrapper{
       margin-top: 2.9rem;
   }
   .hot-movie .movie-article .article-item .article-title .name{
       font-size: 14px;
   }
   .show-wrapper .show-content .recommend{
       margin-top: 4rem;
   }
}
@media screen and (min-width: 360px) {
    .filter {
        .weui-mask,.weui-dialog{
            top: 2.66rem;
        }
    }
}
@media screen and (min-width: 414px) {
    .filter {
        .weui-mask,.weui-dialog{
            top: 2.54rem;
        }
    }
}
@media screen and (min-width: 411px) {
    .filter {
        .weui-mask,.weui-dialog{
            top: 2.63rem;
        }
    }
}
@media screen and (min-width: 415px) {
    .filter {
        .weui-mask,.weui-dialog{
            top: 2.28rem;
        }
    }
}